#content-container {
    @media (min-width:1290px) { width: 1200px!important; }
}
p {
 font-size: 18px;
 color: white;
}

.card-25 {
    width: 25%; 
    max-width: 300px;
}


.card-50 {
    width: 50%; 
    max-width: 600px;
}

.solution-image-box {
    max-width: 960px;
    display: flex;
}

.maintxt {
    position: relative;
}
.maintxt > img, .overlay-text {
    position: absolute;
}

.overlay-text {
    color: white;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 45px;
    z-index: 2;
}

.overlay-ai-block {
    z-index: 1;
    display: none;
}

.nounderline {
    text-decoration: none !important;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.concept-overlay { position:absolute;  z-index: 4; }
    #concept-img {
        z-index: 1;
        position:absolute; width:100%;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.4)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.4));
    }
    #crop {
        z-index: 1;
        position:absolute; width:100%;
    }

    .standart-p {
        font-size: 18px;
        color: white;
    }
    .large-p {
        font-size: 24px;
        color: white;
    }
    .roadpoint {
        background-color: white; 
        border-radius: 100%; 
        width: 30px; 
        height: 30px; 
        position: absolute; 
        left: 5%; 
        top: 50%; 
        transform: translate(-50%, -50%);
    }

    .roadpoint-year {
        font-size: 24px; 
        color: #A25252; 
        position: absolute; 
        text-align: center; 
        left: 250%; 
        top: -40%; 
        transform: translate(-50%, -50%);
    }
    .roadpoint-dashed {
        border-left: 6px dotted white; 
        width: 0px; 
        height: 70px; 
        position: absolute; 
        left: 12px; 
        top: -70px;
    }
    .roadpoint-sm-cl {
        background-color: white; 
        border-radius: 100%; 
        width: 16px; 
        height: 16px; 
        position: absolute; 
        left: 50%; 
        top: -80px; 
        transform: translate(-50%, -50%);
    }
    .roadpoint-marker {
        width: 60px; 
        position: absolute; 
        left: 50%; 
        top: -140px; 
        transform: translate(-50%, -50%);
    }
    .roadpoint-q {
        font-size: 24px; 
        color: #333; 
        position: absolute; 
        text-align: center; 
        left: 50%; 
        top: 40%; 
        transform: translate(-50%, -50%);
    }
    .roadpoint-name {
        line-height: 1.2; 
        margin-bottom: 0px; 
        width: 170px; 
        font-size: 18px; 
        color: white; 
        position: absolute; 
        text-align: left; 
        left: 160px; 
        top: 40%; transform: translate(-50%, -50%);
    }
.icon-60 {
    margin-right: 20px; 
    height: 45px; 
    width: 45px; 
    @media (max-width:770px) {
        margin-right: 15px; 
        height: 35px; 
        width: 35px; 
    }
}

.market-data {
    line-height: 1.4; 
    margin-bottom: 0px; 
    text-align: left; 
    position: absolute; 
    left: 110px;
    transform: translate(0%, -50%);

    @media (max-width:990px) {
        left: 65px;
    } 

}
.market-type {
    left: 40px;
    @media (max-width:990px) {
        left: 10px;
    } 
}
.tam {
    top: 18%; 
}
.sam {
    top: 45%;
}
.som {
    top: 75%;  
}

.team-member-info {
    width: 80%; 
    transform: translate(15%); 
    border-radius: 15px; 
    background-color: white; 
    border: 1px solid #4e4e4e; 
    padding: 10px 20px 5px;
    @media (max-width: 1000px) { 
        width: 100%; 
        transform: translate(0%); 
    }
}

.double-group-container {
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
}
.double-group-element {
    width: 47%; 
    margin-right: 3%;
    margin-bottom: 20px;
    float: left;
    align-items: center;
    display: flex;
    @media (max-width:520px) {
        width: 100%;
    }
}