p {
 font-size: 18px;
 color: white;
}

.card-25 {
    width: 25%; 
    max-width: 300px;
}
.solution-image-box {
    max-width: 960px;
    display: flex;
}

.maintxt {
    position: relative;
}
.maintxt > img, .overlay-text {
    position: absolute;
}

.overlay-text {
    color: white;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 45px;
    z-index: 2;
}

.overlay-ai-block {
    z-index: 1;
    display: none;
}

.nounderline {
    text-decoration: none !important;
    color: white !important;
}

.nav-link {
    color: white !important;
}
