<div id="eye-spot-box">
    <div class="concept-overlay" id="concept-overlay-human">
        <img src="{{ url_for('static', filename='img/solution/human.png') }}" width="100%">
    </div>
    <div class="concept-overlay" id="concept-overlay-drone">
        <img src="{{ url_for('static', filename='img/solution/needlee-image.png') }}" width="100%">
    </div>
    <img class=" border-light border-bottom" id="concept-img" src="{{ url_for('static', filename='img/solution/forest.png') }}" width="100%"> 
    <img id="crop" src="{{ url_for('static', filename='img/solution/human-spot.png') }}" width="100%">   
</div>

<div class="container" id="content-container">
    <h1 class="text-light mb-3">Needlee AI: smart search operations</h1>
    <p class="standart-p">More than 90% of search and rescue teams use first-person-view drones in their operations. Finding people from a bird's eye view with the human eye is almost impossible.</p>
    <p class="standart-p">A fully autonomous Needlee Drone solves this problem: AI will take over the recognition and validation of people in difficult terrain, reporting detected targets to your web application.</p>           
    <h2 class="text-light mb-3 mt-5">Workflow</h2>
    <p class="standart-p">Needlee complex includes an AI drone (or a group of drones) and the Needlee Console: a flight control web application.</p>
    <p class="standart-p">All the flight data comes to the Console, so even multiple drones could be managed easily with a single operator.</p>
    <div class="d-flex flex-row mb-3 mt-5 justify-content-between">
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/web-app-1.png') }}" class="rounded img-fluid mb-3">
            <div style="border-radius: 15px; border: 1px solid #4e4e4e; padding: 10px 20px;">
                <p  class="standart-p" style="margin: 0px;">Pick the search area with a smartphone, Needlee will start an autonomous flight.</p>
            </div>
        </div>
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/web-app-2.png') }}" class="rounded img-fluid mb-3">
            <div style="border-radius: 15px; border: 1px solid #4e4e4e; padding: 10px 20px;">
                <p class="standart-p" style="margin: 0px;">Watch live stream video while Needlee scans the area to detect people.</p>
            </div>
        </div>
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/web-app-3.png') }}" class="rounded img-fluid mb-3">
            <div style="border-radius: 15px; border: 1px solid #4e4e4e; padding: 10px 20px;">
                <p class="standart-p" style="margin: 0px;">Recieve HD images of search targets and send team to validated GPS coordinates.</p>
            </div>
        </div>
    </div>
    
    <h2 class="text-light mb-3 mt-5">Use cases</h2>
    <p class="standart-p">
        Needlee is focused on a single task to solve it perfectly: searching and detecting people. 
        This approach allows the drone to distribute its resources efficiently, outperforming multi-mission UAVs.
    </p>
    <p class="standart-p">An ideal combination of hardware and software for human detection leads a fundamentally new level of search operations such as:</p>
    <div class="d-flex flex-row mb-5 mt-5 justify-content-between">
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/case1.png') }}" class="rounded img-fluid mb-3">
            <p class="standart-p text-center">
                Ground rescue missions
            </p>
        </div>
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/case2.png') }}" class="rounded img-fluid mb-3">
            <p class="standart-p text-center">
                Maritime observing
            </p>
        </div>
        <div class="card-25">
            <img src="{{ url_for('static', filename='img/solution/case3.png') }}" class="rounded img-fluid mb-3">
            <p class="standart-p text-center">
                Border guarding
            </p>
        </div>
    </div>
    <style>
        .double-group-container {
            width: 100%;
            margin-bottom: 20px;
            height: auto;
        }
        .double-group-element {
            width: 47%; 
            margin-left: 3%;
            margin-bottom: 20px;
            float: left;
            align-items: center;
            display: flex;
            @media (max-width:520px) {
                width: 100%;
            }
        }
    </style>

    <h2 class="text-light mb-4 mt-5">Key features</h2>

    <div class="double-group-container">
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/autopilot-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Full autopilot with AI human detection</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/app-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">PC and smartphone user-friendly flight control</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/stream-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Live HD video stream, low-light features</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/optional-features-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Optional LIDAR and thermovision features</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/radio-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Optional radio control</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/4g-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">4G onboard internet</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/manual-control-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Smart manual control mode</p>
        </div>
        <div class="double-group-element">
            <img class="icon-60" src="{{ url_for('static', filename='img/solution/sos-icon.svg') }}">
            <p class="standart-p" style="margin-bottom: 0px;">Emergency GPS signal</p>
        </div>
    </div>


    <h2 class="text-light mb-3 mt-5">What's next?</h2>
    <div class="d-flex flex-row mb-5 mt-5 justify-content-between">
        <div>
            <button class="btn btn-outline-light btn-lg">Needlee V1 overview</button>
        </div>
        <div>
            <button class="btn btn-outline-light btn-lg">Get Needlee for free!</button>
        </div>
        <div>
            <a class="btn btn-outline-light btn" href="/investors">Investments & partnership</a>
        </div>
        <div>
            <button class="btn btn-outline-light btn-lg">Contact us</button>
        </div>
    </div>
</div>