<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Needlee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="canonical" href="https://icons.getbootstrap.com/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous">
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body class="bg-dark">
    <nav id="nav-menu" class="navbar bg-dark navbar-expand-lg">
        <div class="container" id="navbar-container">
            <a class="navbar-brand" href="/" id="navbar-brand-home">
                <img src="{{ url_for('static', filename='img/logo-no-fill.png') }}" width="77" height="31">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ & Learning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/investors">Investors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>            
            </div>
            <a href="/login" id="console-button" class="btn btn-outline-light " role="button">Console</a>
        </div>
    </nav>
    <div>
        <div class="nav-option" id="section" style="display: inline;">
            {% include section %}
        </div>
        <div class="nav-option" id="investors" style="display: none;">
            
        </div>
        <div class="nav-option" id="contact" style="display: none;">
            <h1 class="text-light">Contact</h1>
        </div>
        
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-top pb-2 pt-3 mb-2">
                    <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Products</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Contact</a></li>
                </ul>
                <p class="text-center text-muted">© 2024 Needlee</p>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>