<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Needlee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
</head>

<body>
    <div class="content-container">
        <div id="header-container" class="header-container" style="margin: 5px 10px 0px 10px;">
            <ul>
                <a id="home-button" class="home-button" href="/">
                    <img src="{{ url_for('static', filename='img/needlee-logo-full.png') }}">
                </a>
                <div id="mobile-menu" style="display: none;">
                    <a>
                        <img id="mobile-menu-icon" src="{{ url_for('static', filename='img/mobile-menu-icon.svg') }}" style="height: 32px;">
                    </a>
                    <div id="mobile-menu-box" style="display: none; width: 200px; border-radius: 5px; border: 1px solid #E3E3E3; height: 260px; background-color: #212529; position: absolute; right: 0px;">
                        <ul style="display: block;">
                            <li><a style="color: #F8F9FA;" href="/login">Console</a></li>
                            <li><a style="color: #F8F9FA;" href="/contact">Contact & Support</a></li>
                            <li><a style="color: #F8F9FA;" href="/investors">Investors</a></li>
                            <li><a style="color: #F8F9FA;" href="/faq">Learning & FAQ</a></li>
                            <li><a style="color: #F8F9FA;" href="/products">Products</a></li>
                        </ul>
                    </div>
                </div>
                <li style="height: 56px;">
                    <div>
                        <a href="/login" class="primary-light-button">Console</a>
                    </div>
                </li>
                <li><a href="/contact">Contact & Support</a></li>
                <li><a href="/investors">Investors</a></li>
                <li><a href="/faq">Learning & FAQ</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </div>
    </div>
    <div style="{{header_style}}">
    <!-- <div style="overflow: hidden;"> -->
        <div id="header-image-container" class="header-image-container">
            <img src="{{ url_for('static', filename='img/solution/header-image.png') }}">
            <div class="human-container">
                <img src="{{ url_for('static', filename='img/solution/human.png') }}">
            </div>
            <div class="drone-container">
                <img src="{{ url_for('static', filename='img/solution/needlee-image.png') }}">
            </div>
        </div>
    </div>
    <div id="page-content" class="content-container">
        <div style="margin: 0px 10px;">
            {% include section %}
        </div>
    </div>
    <div class="content-container" id="footer-block">
        <hr style="color: #4E4E4E; margin-top: 40px;">
        <div class="footer-container">
            <ul>
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/products">Products</a></li>
                <li class=""><a href="/faq">FAQ</a></li>
                <li class=""><a href="/investors">Investors</a></li>
                <li class=""><a href="/contact">Contact</a></li>
            </ul>
            <div>
                <p class="standart-p" style="margin-top: 0px;">© 2024 Needlee</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
