<h1 class="text-light text-center mb-5">Market</h1>
<div class="d-flex flex-row mb-3 justify-content-between">
    <div style="width: 50%;">
        <img src="{{ url_for('static', filename='img/pitch/market.png') }}" class="rounded img-fluid mb-3">
    </div>
    <div style="width: 45%;">
        <p class="text-light fs-3 text-left ml-1">
            - Autonomous drone market holds more than 40% of the global drone market and grows 25% a year
        </p>
        <p class="text-light fs-3 text-left">
            - Search drone market holds 12% of the global market
        </p>
        <p class="text-light fs-3 text-left">
            - No solution for autonomous search & resque exists
        </p>
    </div>
</div>
<h1 class="text-light text-center mb-5">Customers</h1>
<div class="d-flex flex-row mb-5 mt-5 justify-content-around">
    <div class="w-25">
        <img src="{{ url_for('static', filename='img/solution/case1.png') }}" class="rounded img-fluid mb-3">
        <p class="text-light fs-5 text-center">
            Rescue services and teams
        </p>
    </div>
    <div class="w-25">
        <img src="{{ url_for('static', filename='img/solution/case2.png') }}" class="rounded img-fluid mb-3">
        <p class="text-light fs-5 text-center">
            Maritime Rescue services
        </p>
    </div>
    <div class="w-25">
        <img src="{{ url_for('static', filename='img/solution/case3.png') }}" class="rounded img-fluid mb-3">
        <p class="text-light fs-5 text-center">
            Border Guard services
        </p>
    </div>
</div>
<h1 class="text-light text-center mb-5 mt-5">Customer survey</h1>
<div class="d-flex flex-row mb-5 mt-5 justify-content-center">
    <img src="{{ url_for('static', filename='img/pitch/survey.png') }}" class="rounded img-fluid mb-3">
</div>
<p class="text-light fs-3 text-left">
    - Search drone market holds 12% of the global market
</p>
<h1 class="text-light text-center mb-5 mt-5">Competition</h1>
<div class="d-flex flex-row mb-5 mt-5 justify-content-center">
    <img src="{{ url_for('static', filename='img/pitch/competition.png') }}" class="rounded img-fluid mb-3">
</div>
<h1 class="text-light text-center mb-5 mt-5">Strategy: sales through surveys</h1>
<div class="d-flex flex-row mb-5 mt-5 justify-content-center">
    <img src="{{ url_for('static', filename='img/pitch/sales-strategy.png') }}" class="rounded img-fluid mb-3">
</div>
<h1 class="text-light text-center mb-5 mt-5">Road map</h1>
<div class="d-flex flex-row mb-5 mt-5 justify-content-center">
    <img src="{{ url_for('static', filename='img/pitch/road-map.png') }}" class="rounded img-fluid mb-3">
</div>