<div id="content-container">
    <h1>Needlee is opened for investments</h1>
    <div style="display: flex;">
        <div style="width: 30%; min-width: 160px; position: relative;">
            <img src="{{ url_for('static', filename='img/pitch/market.png') }}" width="100%">
            <p class="standart-p market-value" style="top: 18%;">$32 billion</p>
            <p class="standart-p market-value" style="top: 45%;">$3.9 billion</p>
            <p class="standart-p market-value" style="top: 75%; max-width: 35%;">$500 million</p>
        </div>
        <div style="width: 70%; position: relative;">
            <hr class="market-value-hr" style="top: 18%;">
            <hr class="market-value-hr" style="top: 45%;">
            <hr class="market-value-hr" style="top: 75%;">
            <p class="large-p market-data market-type tam" style="margin: 0px;">TAM</p>
            <p class="large-p market-data market-type sam market-type-sam-offset" style="margin: 0px;">SAM</p>
            <p class="large-p market-data market-type som" style="margin: 0px;">SOM</p>
            <p id="tam-market-info" class="standart-p market-data market-info tam" style="margin: 0px; padding-top: 3px;">Global drone market</p>
            <p id="sam-market-info" class="standart-p market-data market-info sam" style="margin: 0px; padding-top: 3px;">Search & Rescue drone market</p>
            <p id="som-market-info" class="standart-p market-data market-info som" style="margin: 0px; padding-top: 3px;">EU rescue teams drone budget</p>
        </div>
    </div>
    <ul class="market-bullets" style="color: white;">
        <li>
            <p class="standart-p">Autonomous drone market holds more than 40% of the global drone market and grows 25% a year.</p>
        </li>
        <li>
            <p class="standart-p">Search & Rescue drone market holds 12% of the global market.</p>
        </li>
        <li>
            <p class="standart-p">No solution for an autonomous search & rescue missions exists.</p>
        </li>
    </ul>

    <h2>Competition</h2>
    <table style="table-layout: fixed; text-align: center; vertical-align: middle;">
        <colgroup>
            <col style="width: 22%"/>
            <col style="width: 19.5%"/>
            <col style="width: 19.5%"/>
            <col style="width: 19.5%"/>
            <col style="width: 19.5%"/>
        </colgroup>
        <tr>
            <th></th>
            <th><img src="{{ url_for('static', filename='img/needlee-v1-logo.svg') }}" width="90%"></th>
            <th style="padding: 10px 0px;"><p class="standart-p quality-standart">Multitask autopilot drones</p></th>
            <th style="padding: 10px 0px;"><p class="standart-p quality-standart">Rescue FPV drones</p></th>
            <th style="padding: 10px 0px;"><p class="standart-p quality-standart">Multitask FPV drones</p></th>
        </tr>
        <tr>
            <th class="quality-list"><p class="standart-p quality-bold">Ease of operating</p></th>
            <td><p class="standart-p quality-green">user with a web app</p></td>
            <td><p class="standart-p quality-red">drone pilot with tech skills</p></td>
            <td><p class="standart-p quality-red">drone pilot</p></td>
            <td><p class="standart-p quality-red">drone pilot</p></td>
        </tr>
        <tr>
            <th class="quality-list"><p class="standart-p quality-bold">Level of autonomy</p></th>
            <td><p class="standart-p quality-green">auto</p></td>
            <td><p class="standart-p quality-green">semi auto</p></td>
            <td><p class="standart-p quality-red">manual</p></td>
            <td><p class="standart-p quality-red">manual</p></td>
        </tr>
        <tr>
            <th class="quality-list"><p class="standart-p quality-bold">AI human detection</p></th>
            <td><p class="standart-p quality-green">Yes</p></td>
            <td><p class="standart-p quality-green">Yes</p></td>
            <td><p class="standart-p quality-red">No</p></td>
            <td><p class="standart-p quality-red">No</p></td>
        </tr>
        <tr>
            <th class="quality-list"><p class="standart-p quality-bold">Search & Rescue features</p></th>
            <td><p class="standart-p quality-green">Yes</p></td>
            <td><p class="standart-p quality-green">Yes</p></td>
            <td><p class="standart-p quality-green">Yes</p></td>
            <td><p class="standart-p quality-red">No</p></td>
        </tr>
        <tr>
            <th class="quality-list"><p  class="standart-p quality-bold">Price</p></th>
            <td><p class="standart-p quality-bold">$12.000</p></td>
            <td><p class="standart-p quality-bold">$63.000</p></td>
            <td><p class="standart-p quality-bold">$12.000</p></td>
            <td><p class="standart-p quality-bold">$7.000</p></td>
        </tr>
    </table>
    <h2>Roadmap</h2>
    <div class="roadpoint-container">
        <hr>
        <div class="roadpoint" style="background: linear-gradient(to right, #A25252, #A16969)">
            <p class="roadpoint-year">2024</p>
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q1</p>
                <p class="roadpoint-name">Needlee V1 prototype</p>
            </div>
        </div>

        <div class="roadpoint roadpoint-bottom" style="left: 18%; background: linear-gradient(to right, #8F5858, #9E7373)">
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q2</p>
                <p class="roadpoint-name">Alpha testing</p>
            </div>
        </div>

        <div class="roadpoint" style="left: 31%;">
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q3</p>
                <p class="roadpoint-name">Beta testing</p>
            </div>
        </div>

        <div class="roadpoint roadpoint-bottom" style="left: 44%;">
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q4</p>
                <p class="roadpoint-name">Test focus group</p>
            </div>
        </div>

        <div class="roadpoint" style="left: 57%;">
            <p class="roadpoint-year" style="color: rgb(177, 123, 123);">2025</p>
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q1</p>
                <p class="roadpoint-name">First customers</p>
            </div>
        </div>

        <div class="roadpoint roadpoint-bottom" style="left: 70%;">
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q4</p>
                <p class="roadpoint-name roadpoint-name-long">50 Needlee V1 items sold</p>
            </div>
        </div>

        <div class="roadpoint" style="left: 83%;">
            <p class="roadpoint-year" style="color: #C19D9D;">2026</p>
            <div class="roadpoint-dashed"></div>
            <div class="roadpoint-sm-cl"></div>
            <div class="roadpoint-marker">
                <img src="{{ url_for('static', filename='img/pitch/roadmap-marker.svg') }}">
                <p class="roadpoint-q">Q1</p>
                <p class="roadpoint-name">Needlee V2 prototype</p>
            </div>
        </div>
    </div>
    <p class="standart-p">Needlee is on the Beta testing stage now. Our team continues customer serveys to discover and implement new features and make new target contacts. By the end of the spring 2025 Needlee V1 will be ready to run search missions with the test focus group of rescue teams in EU. These first missions will help us to make last changes in Needlee V1 before sales.</p>
    <p class="standart-p">By the end of the year 2025 50 items will be sold, and our team will be ready for a second round of investment to modernize technology and production and build a VTOL Needlee V2 drone to cover much more complex mission like border guarding.</p>

    <h2>Team</h2>
    <div class="triple-group-container">
        <div class="triple-group-element left resize-group-element team-member">
            <img src="{{ url_for('static', filename='img/pitch/team-stepan.png') }}">
            <div>
                <p class="standart-p">
                    Stepan Kolodiazhny<br><b>Founder, CEO</b><br><br>
                    Tech Manager with CEO experience, UAV and software development skills
                </p>
            </div>
        </div>
        <div class="triple-group-element center resize-group-element team-member">
            <img src="{{ url_for('static', filename='img/pitch/team-viktor.png') }}">
            <div>
                <p class="standart-p">
                    Viktor Uimanov<br><b>Co-Founder, CPO</b><br><br>
                    Product Owner experienced with AI products and software development skills
                </p>
            </div>
        </div>
        <div class="triple-group-element right resize-group-element team-member">
            <img src="{{ url_for('static', filename='img/pitch/team-alexander.png') }}">
            <div>
                <p class="standart-p">
                    Aleksandr Razin<br><b>Co-Founder, CTO</b><br><br>
                    Computer Vision engineer specialized in robotics and image optimization
                </p>
            </div>
        </div>
    </div>
    <h2>What's next?</h2>
    <div class="small-button-holder">
        <div style="margin-bottom: 20px; width: fit-content;">
            <a href="#" style="border-color: #A25252;" class="primary-light-button small-button">Request full pitch deck PDF</a>
        </div>
        <div style="margin-bottom: 20px; width: fit-content;">
            <a href="#" class="primary-light-button small-button">Request Needlee V1 specifications PDF</a>
        </div>
        <div style="margin-bottom: 20px; width: fit-content;">
            <a href="/contact" class="primary-light-button small-button">Contact Needlee team</a>
        </div>
    </div>

</div>
