<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Needlee Console</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <style>
            .html, body, .submit-container {
                background-color: #212529;
            }

        </style>
    </head>
    <body>
        <div id="back-button" onclick=back()>
            <div style="display: flex;">
                <img src="{{ url_for('static', filename='img/back-icon.svg') }}" width="30px"><p>Back</p>
            </div>
        </div>
        <div class="submit-container">
            <div class="submit-form">
                <div id="logo" class="d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='img/needlee-console-logo.png') }}" width="100%">
                </div>
                <div class="submit-form-container">
                    <form style="color: white; font-family: ubuntu;" method="post" action="/login">
                        <div>
                            <label for="vehicle-id" class="">Vehicle ID</label>
                            <input name="vehicle_id" class="submit-form-input" id="vehicle-id"
                                aria-describedby="vehicle-id-help">
                        </div>
                        <div style="margin-top: 15px;">
                            <label for="vehicle-key" class="">Vehicle Key</label>
                            <input type="password" name="vehicle_key" class="submit-form-input" id="vehicle-key">
                        </div>
                        <button type="submit" class="submit-button">Open Console</button>
                        <p id="wrong-creds" style="display: none;" class="">Vehicle id or key doesn't match</p>
                        <div id="learn-more-tip">
                            How do I get a Needlee Console account? <a style="color: #937676;" href="#">Learn more</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function back() {
                window.location.href = location.origin
            }

            var status =  "{{login_status}}"
            console.log(status)
            if ("{{login_status}}" == "False") {
                window.document.getElementById("learn-more-tip").style = "margin-top: 30px;"
                window.document.getElementById("wrong-creds").style = "display: block; color: #B93D3D; margin-top: 10px";
            }
        </script>
    </body>
</html>
