<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6 d-flex align-items-stretch">
            <div class="card">
                <img src="{{ url_for('static', filename='img/products/needlee-v1.png') }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Needlee-V1</h5>
                    <p class="text-dark card-text">Full autopilot AI driven quadcopter for human detection operations in hard-to-reach areas.</p>
                    <ul>
                        <li><p class="text-dark">Time in the air: 38min</p></li>
                        <li><p class="text-dark">Weight: 2.3kg</p></li>
                        <li><p class="text-dark">Operating: Web app</p></li>
                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-auto">
                        <a href="#" class="btn btn-outline-dark ">Specs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch">
            <div class="card">
                <img src="{{ url_for('static', filename='img/products/needlee-v2.png') }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Needlee-V2 (comming soon)</h5>
                    <p class="text-dark card-text">Full autopilot AI driven VTOL drone for patrolling and human detection operations.</p>
                    <ul>
                        <li><p class="text-dark">Time in the air: 140min</p></li>
                        <li><p class="text-dark">Weight: 9.1kg</p></li>
                        <li><p class="text-dark">Operating: Web app</p></li>
                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-auto">
                        <a href="#" class="btn btn-outline-dark ">Specs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
