<div class="product-card-container">
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/products/needlee-v1.png') }}" alt="needlee-v1">
        <div class="product-card-body">
            <p class="large-p" style="margin: 0px;">Needlee-V1</p>
            <p class="standart-p">Full autopilot AI driven quadcopter for human detection operations in hard-to-reach areas.</p>
            <ul>
                <li><p class="standart-p">Full autopilot</p></li>
                <li><p class="standart-p">Search & rescue AI</p></li>
                <li><p class="standart-p">Operating: Web app</p></li>
                <li><p class="standart-p">Time in the air: 38min</p></li>
            </ul>
            <!-- <div>
                <a href="#" class="primary-light-button">Specs</a>
            </div> -->
        </div>
    </div>
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/products/needlee-v2.png') }}" alt="needlee-v2">
        <div class="product-card-body">
            <p class="large-p" style="margin: 0px;">Needlee-V2 (comming soon)</p>
            <p class="standart-p">Full autopilot AI driven VTOL drone for patrolling and human detection operations.</p>
            <ul>
                <li><p class="standart-p">Full autopilot</p></li>
                <li><p class="standart-p">Search & patrolling AI</p></li>
                <li><p class="standart-p">Operating: Web app</p></li>
                <li><p class="standart-p">Time in the air: 140min</p></li>
            </ul>
            <!-- <div>
                <a href="#" class="primary-light-button">Specs</a>
            </div> -->
        </div>
    </div>
</div>
